/* CUSTOM STYLES */

label.error{display:block; color:#CC0000;}



#addItemErrorsLink{display:none;}

#itemName{
	color: #c0c0c0;
	
}

.bckColor {background-color: #FFF000;}
.hasFocus{border: 2px solid #3FBF03;}
.hasHover{border: 2px solid #2267F2;}
.even{background: #ffffff;}
